<mat-card class="cardSection">
    <mat-card-header>
        <mat-card-title>Choose your favorite pokemon!</mat-card-title>
        <mat-card-subtitle>Gotta Catch 'Em All!!</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let poke">
                    <div *ngIf='poke.info != undefined'>
                        <img src='{{poke.info.sprites.front_default}}'>
                    </div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let poke"> {{poke.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let poke">
                    <div *ngIf='poke.info != undefined'>
                        {{poke.info.weight/10}} k.g
                    </div>
                </td>
            </ng-container>

            <!-- Height Column -->
            <ng-container matColumnDef="Height">
                <th mat-header-cell *matHeaderCellDef> Height </th>
                <td mat-cell *matCellDef="let poke">
                    <div *ngIf='poke.info != undefined'>
                        {{poke.info.height / 10 }} m.
                    </div>
                </td>
            </ng-container>

            <!-- Add Column -->
            <ng-container matColumnDef="Add">
                <th mat-header-cell *matHeaderCellDef> Add </th>
                <td mat-cell *matCellDef="let poke">
                    <button mat-stroked-button color="primary" (click)='addToFavorites(poke)'>Add to Favorites 
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button *ngIf='previous' (click)='previousPage()'>Previous</button>
        <button mat-raised-button *ngIf='next' (click)='nextPage()'>Next</button>
    </mat-card-actions>
</mat-card>